/* *********MOBILE FIRST ******** */

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* MAIN  */
  main{
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  /* DIV PRINCIPALE  */
  .all-mdp{
    /* border:1px solid purple; */
    width:90vw;
    margin:auto;
  }

  /* H1 DE LA PAGE */
   h1{
    text-align: center;
    color:#04599C;
    font-size:25px;
    margin-bottom:20px;
    margin-top:15px;
  }

  /* STYLE POUR LE TEXT AFFICHER QUAND C'EST COPIER  */
  .text-copy{
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: green;
    font-size: 23px;
  }

  /* STYLE DE L'INPUT DU MDP */
  #text-mdp{
    width:65vw;
    height:25px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border:none;
    border-bottom:1px solid #04599C;
    outline: none;
    padding-left:15px;
  }

  /* STYLE BOUTON COPY ET GENERATE  */
  #btn-copy,#btn-generate{
    padding: 6px;
    margin-right: 6px;
    cursor:pointer;
  }

  /*STYLE DE LA LONGUEUR DU MDP */
  .mdp-length{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  /* PARAGRAPHE TAILLE */
  .btn-name{

    margin-right:10px;
    margin-left: 10px;
  }
  /* DIV POUR LES CONDITIONS SUR LE MDP  */
  .mdp-condition{
    display: flex;
    align-items:center;
    margin-bottom: 10px;;
  }

  /* STYLE DU CONTAINER CONTENANT LES CHIFFRES ET CARACTERE SPECIAUX   */
   .container-chiffre,.container-speciaux{
    display:flex;
    align-items: center;
    margin-bottom:10px;
    
  } 

  /*STYLE POUR LE NB DE CARACTERE ET POUR LES CASE A COCHER  */
  .nb,.chiffre,.text-speciaux{
    margin-left:10px;
    margin-right:5px;
  }

  /**************** TABLETTE ************* */

  @media screen and (min-width:768px) and (max-width:1024px){
    /* MAIN */
    main{
      justify-content:center;
      align-items:center;
    }

    h1{
      font-size:28px;
    }

    .btn-name,.nb,.container-chiffre p,.container-speciaux p{
      font-size:17px;
    }

    /* POUR DIV CONTENANT TOUS CE QUI CONSERNE LE MDP  */
    .all-mdp{
      
      width:85vw;
    }

    /* POUR LA DIV CONTENANT LE CHAMPS DE TEXTE, BOUTON COPIER,ET LE BOUTON RESET  */
    .mdp{
      display: flex;
      justify-content: center;
    }

    /* BOUTON COPY */
    #btn-copy{
      margin-left:8px;
    }

    /* BOUTON COPY ET BOUTON GENERATE  */
    #btn-copy,#btn-generate{
      margin-right: 8px;
    }

    /* STYLE POUR LA TAILLE DU TEXTE  */
    .mdp-length,.mdp-condition{
      width:79vw;
      margin: auto;
      padding-bottom: 20px;

    }
    
  }

  /* ************** TABLETTE PAYSAGE  ***************** */
  @media screen and (min-width:1025px) and (max-width:1366px){
    
    /*DIV QUI ENGLOBE TOUT CE QUI CONSERRNE LE MDP  */
    .all-mdp{
      width:75vw;
    }

    h1{
      font-size:28px;
    }

    /* STYLE DE INPUT DU MDP */
    #text-mdp{
      width:60vw;
    }

    .mdp{
      display: flex;
      justify-content: center;
    }

    .mdp-length,.mdp-condition{
      width:69vw;
      margin:auto;
      padding-bottom: 20px;
    }
  }

  /*************  ORDINATEUR PORTABLE **************** **/
  @media screen and (min-width:1367px ) and (max-width:1920px){
    .all-mdp{
      width:60vw;
    }

    h1{
      font-size:30px;
    }

    /* STYLE DE INPUT DU MDP */
    #text-mdp{
      width:50vw;
    }

    .mdp{
      display: flex;
      justify-content: center;
    }

    .mdp-length,.mdp-condition{
      width:56vw;
      margin:auto;
      padding-bottom: 20px;
    }
  }

  /************* ECRAN LARGE *******************/
  @media screen and (min-width:1921px){
    .all-mdp{
      
      width:50vw;
    }

    /* STYLE DE INPUT DU MDP */
    #text-mdp{
      width:40vw;
    }

    .mdp{
      display: flex;
      justify-content: center;
    }

    .mdp-length,.mdp-condition{
      width:45vw;
      margin:auto;
      padding-bottom: 20px;
    }
  }
 

  

  